In [22]:
import requests
import pandas as pd
import numpy as np
import ast

In [23]:
df_attacks = pd.read_csv("attacks_limpieza_completa.csv", index_col = 0)
df_attacks.head(2)

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,...,fatal_N,fatal_Unknown,fatal_Y,fatal_N.1,fatal_Unknown.1,fatal_Y.1,species_.1,fecha_limpia.1,type.1,age_NORM
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.78373,-100.445882,...,1,0,0,1,0,0,4,7,1,9.116327
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.78373,-100.445882,...,1,0,0,1,0,0,3,7,7,3.804860

In [24]:
df_attacks['country'].unique()

array(['usa', 'australia', 'mexico', 'brazil', 'england', 'south africa',
       'thailand', 'costa rica', 'maldives', 'bahamas', 'new caledonia',
       'ecuador', 'malaysia', 'libya', 'Unknown', 'cuba', 'mauritius',
       'new zealand', 'spain', 'samoa', 'solomon islands', 'japan',
       'egypt', 'st helena, british overseas territory', 'comoros',
       'reunion', 'french polynesia', 'united kingdom',
       'united arab emirates', 'philippines', 'indonesia', 'china',
       'columbia', 'cape verde', 'fiji', 'dominican republic',
       'cayman islands', 'aruba', 'mozambique', 'puerto rico', 'italy',
       'atlantic ocean', 'greece', 'st. martin', 'france',
       'papua new guinea', 'trinidad & tobago', 'kiribati', 'israel',
       'diego garcia', 'taiwan', 'jamaica', 'palestinian territories',
       'guam', 'seychelles', 'belize', 'nigeria', 'tonga', 'scotland',
       'canada', 'croatia', 'saudi arabia', 'chile', 'antigua', 'kenya',
       'russia', 'turks & caicos', 'united arab emirates (uae)', 'azores',
       'south korea', 'malta', 'vietnam', 'madagascar', 'panama',
       'somalia', 'nevis', 'british virgin islands', 'norway', 'senegal',
       'yemen', 'gulf of aden', 'sierra leone', 'st. maartin',
       'grand cayman', 'liberia', 'vanuatu', 'mexico ', 'venezuela',
       'sri lanka', ' tonga', 'uruguay', 'india', 'micronesia',
       'caribbean sea', 'okinawa', 'tanzania', 'marshall islands',
       'egypt / israel', 'northern arabian sea', 'hong kong',
       'el salvador', 'angola', 'bermuda', 'montenegro', 'iran',
       'tunisia', 'namibia', 'north atlantic ocean', 'portugal',
       'south china sea', 'bangladesh', 'palau', 'western samoa',
       'pacific ocean ', 'british isles', 'grenada', 'iraq', 'turkey',
       'singapore', 'new britain', 'sudan', 'johnston island',
       'south pacific ocean', 'new guinea', 'red sea',
       'north pacific ocean', 'federated states of micronesia',
       'mid atlantic ocean', 'admiralty islands', 'british west indies',
       'south atlantic ocean', 'persian gulf', 'red sea / indian ocean',
       'pacific ocean', 'north sea', 'nicaragua ', 'maldive islands',
       'american samoa', 'andaman / nicobar islandas', 'gabon', 'mayotte',
       'north atlantic ocean ', 'the balkans', 'sudan?', 'argentina',
       'martinique', 'indian ocean', 'guatemala', 'netherlands antilles',
       'northern mariana islands', 'iran / iraq', 'java', ' philippines',
       'nicaragua', 'central pacific', 'solomon islands / vanuatu',
       'southwest pacific ocean', 'bay of bengal', 'mid-pacifc ocean',
       'slovenia', 'curacao', 'iceland', 'italy / croatia', 'barbados',
       'honduras', 'monaco', 'guyana', 'haiti', 'san domingo', 'ireland',
       'kuwait', 'yemen ', 'reunion island', 'falkland islands', 'crete',
       'cyprus', 'egypt ', 'west indies', 'burma', 'lebanon', 'paraguay',
       'british new guinea', 'ceylon', 'ocean', 'georgia', 'syria',
       'tuvalu', 'indian ocean?', 'guinea', 'andaman islands',
       'equatorial guinea / cameroon', 'cook islands', 'tobago', 'peru',
       'africa', 'algeria', 'coast of africa', 'tasman sea', 'ghana',
       'greenland', 'mediterranean sea', 'sweden', 'roatan',
       'between portugal & india', 'djibouti', 'bahrein', 'korea',
       'red sea?', 'asia?', 'ceylon (sri lanka)'], dtype=object)

In [25]:
lista_paises = ['usa','australia','new zealand','south africa','papua new guinea']

In [26]:
df_paises = df_attacks[df_attacks['country'].isin(lista_paises)]
df_paises.head()

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,...,fatal_N,fatal_Unknown,fatal_Y,fatal_N.1,fatal_Unknown.1,fatal_Y.1,species_.1,fecha_limpia.1,type.1,age_NORM
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.783730,-100.445882,...,1,0,0,1,0,0,4,7,1,9.116327
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.783730,-100.445882,...,1,0,0,1,0,0,3,7,7,3.804860
2,2018,Invalid,usa,48.0,Unespecific,Jun,N,M,39.783730,-100.445882,...,1,0,0,1,0,0,3,7,3,8.403629
3,2018,Unprovoked,australia,27.0,Unespecific,Jun,N,M,-24.776109,134.755000,...,1,0,0,1,0,0,3,7,7,6.313925
5,2018,Unprovoked,australia,27.0,Unespecific,Jun,N,M,-24.776109,134.755000,...,1,0,0,1,0,0,3,7,7,6.313925

In [8]:
df_paises.shape

(4335, 21)

In [27]:
df_clima = pd.read_csv("datos_clima.csv", index_col = 0)
df_clima.head(2)

,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,country
0,3,4,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 4}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 175, 'speed':...",20,2,5,1017,none,0,0,170,2,usa
1,6,7,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 4}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 195, 'speed':...",23,2,5,1016,none,0,0,220,2,usa

In [28]:
df_clima.reset_index(inplace=True)

In [29]:
df_clima['wind_profile']= df_clima['wind_profile'].apply(ast.literal_eval)

In [30]:
df_clima.wind_profile[0]

[{'layer': '950mb', 'direction': 175, 'speed': 3},
 {'layer': '900mb', 'direction': 200, 'speed': 3},
 {'layer': '850mb', 'direction': 210, 'speed': 3},
 {'layer': '800mb', 'direction': 230, 'speed': 3},
 {'layer': '750mb', 'direction': 245, 'speed': 3},
 {'layer': '700mb', 'direction': 255, 'speed': 4},
 {'layer': '650mb', 'direction': 270, 'speed': 5},
 {'layer': '600mb', 'direction': 275, 'speed': 6},
 {'layer': '550mb', 'direction': 275, 'speed': 5},
 {'layer': '500mb', 'direction': 245, 'speed': 5},
 {'layer': '450mb', 'direction': 250, 'speed': 5},
 {'layer': '400mb', 'direction': 250, 'speed': 5},
 {'layer': '350mb', 'direction': 245, 'speed': 5},
 {'layer': '300mb', 'direction': 225, 'speed': 5},
 {'layer': '250mb', 'direction': 235, 'speed': 5},
 {'layer': '200mb', 'direction': 240, 'speed': 5}]

In [31]:
df_clima['rh_profile']= df_clima['rh_profile'].apply(ast.literal_eval)

In [32]:
df_clima["rh_profile"][0]

[{'layer': '950mb', 'rh': 4},
 {'layer': '900mb', 'rh': 2},
 {'layer': '850mb', 'rh': 3},
 {'layer': '800mb', 'rh': 3},
 {'layer': '750mb', 'rh': 3},
 {'layer': '700mb', 'rh': 0},
 {'layer': '650mb', 'rh': 2},
 {'layer': '600mb', 'rh': 5},
 {'layer': '550mb', 'rh': 0},
 {'layer': '500mb', 'rh': -3},
 {'layer': '450mb', 'rh': -3},
 {'layer': '400mb', 'rh': -2},
 {'layer': '350mb', 'rh': -1},
 {'layer': '300mb', 'rh': 2},
 {'layer': '250mb', 'rh': 4},
 {'layer': '200mb', 'rh': 12}]

In [34]:
wind = df_clima['wind_profile'].apply(pd.Series)
wind.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,"{'layer': '950mb', 'direction': 175, 'speed': 3}","{'layer': '900mb', 'direction': 200, 'speed': 3}","{'layer': '850mb', 'direction': 210, 'speed': 3}","{'layer': '800mb', 'direction': 230, 'speed': 3}","{'layer': '750mb', 'direction': 245, 'speed': 3}","{'layer': '700mb', 'direction': 255, 'speed': 4}","{'layer': '650mb', 'direction': 270, 'speed': 5}","{'layer': '600mb', 'direction': 275, 'speed': 6}","{'layer': '550mb', 'direction': 275, 'speed': 5}","{'layer': '500mb', 'direction': 245, 'speed': 5}","{'layer': '450mb', 'direction': 250, 'speed': 5}","{'layer': '400mb', 'direction': 250, 'speed': 5}","{'layer': '350mb', 'direction': 245, 'speed': 5}","{'layer': '300mb', 'direction': 225, 'speed': 5}","{'layer': '250mb', 'direction': 235, 'speed': 5}","{'layer': '200mb', 'direction': 240, 'speed': 5}"
1,"{'layer': '950mb', 'direction': 195, 'speed': 3}","{'layer': '900mb', 'direction': 180, 'speed': 3}","{'layer': '850mb', 'direction': 195, 'speed': 3}","{'layer': '800mb', 'direction': 240, 'speed': 3}","{'layer': '750mb', 'direction': 265, 'speed': 3}","{'layer': '700mb', 'direction': 290, 'speed': 4}","{'layer': '650mb', 'direction': 300, 'speed': 5}","{'layer': '600mb', 'direction': 285, 'speed': 5}","{'layer': '550mb', 'direction': 265, 'speed': 5}","{'layer': '500mb', 'direction': 255, 'speed': 5}","{'layer': '450mb', 'direction': 250, 'speed': 5}","{'layer': '400mb', 'direction': 245, 'speed': 5}","{'layer': '350mb', 'direction': 235, 'speed': 5}","{'layer': '300mb', 'direction': 225, 'speed': 5}","{'layer': '250mb', 'direction': 235, 'speed': 5}","{'layer': '200mb', 'direction': 230, 'speed': 5}"

In [35]:
for i in range(len(wind.columns)):
    nombre = "wind_" + str(wind[i].apply(pd.Series)["layer"][0]) 
    valores = list(wind[i].apply(pd.Series)["speed"] )
    df_clima.insert(i, nombre, valores)

In [36]:
rh = df_clima['rh_profile'].apply(pd.Series) 
rh.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,"{'layer': '950mb', 'rh': 4}","{'layer': '900mb', 'rh': 2}","{'layer': '850mb', 'rh': 3}","{'layer': '800mb', 'rh': 3}","{'layer': '750mb', 'rh': 3}","{'layer': '700mb', 'rh': 0}","{'layer': '650mb', 'rh': 2}","{'layer': '600mb', 'rh': 5}","{'layer': '550mb', 'rh': 0}","{'layer': '500mb', 'rh': -3}","{'layer': '450mb', 'rh': -3}","{'layer': '400mb', 'rh': -2}","{'layer': '350mb', 'rh': -1}","{'layer': '300mb', 'rh': 2}","{'layer': '250mb', 'rh': 4}","{'layer': '200mb', 'rh': 12}"
1,"{'layer': '950mb', 'rh': 4}","{'layer': '900mb', 'rh': 2}","{'layer': '850mb', 'rh': 3}","{'layer': '800mb', 'rh': 3}","{'layer': '750mb', 'rh': 3}","{'layer': '700mb', 'rh': 3}","{'layer': '650mb', 'rh': 4}","{'layer': '600mb', 'rh': 4}","{'layer': '550mb', 'rh': 0}","{'layer': '500mb', 'rh': -2}","{'layer': '450mb', 'rh': -1}","{'layer': '400mb', 'rh': 0}","{'layer': '350mb', 'rh': 1}","{'layer': '300mb', 'rh': 1}","{'layer': '250mb', 'rh': 5}","{'layer': '200mb', 'rh': 13}"
2,"{'layer': '950mb', 'rh': 3}","{'layer': '900mb', 'rh': 2}","{'layer': '850mb', 'rh': 2}","{'layer': '800mb', 'rh': 2}","{'layer': '750mb', 'rh': 2}","{'layer': '700mb', 'rh': 3}","{'layer': '650mb', 'rh': 3}","{'layer': '600mb', 'rh': 5}","{'layer': '550mb', 'rh': 7}","{'layer': '500mb', 'rh': 3}","{'layer': '450mb', 'rh': 0}","{'layer': '400mb', 'rh': 0}","{'layer': '350mb', 'rh': 1}","{'layer': '300mb', 'rh': 0}","{'layer': '250mb', 'rh': 10}","{'layer': '200mb', 'rh': 13}"
3,"{'layer': '950mb', 'rh': 2}","{'layer': '900mb', 'rh': 2}","{'layer': '850mb', 'rh': 1}","{'layer': '800mb', 'rh': 1}","{'layer': '750mb', 'rh': 3}","{'layer': '700mb', 'rh': 4}","{'layer': '650mb', 'rh': 7}","{'layer': '600mb', 'rh': 10}","{'layer': '550mb', 'rh': 12}","{'layer': '500mb', 'rh': 10}","{'layer': '450mb', 'rh': 10}","{'layer': '400mb', 'rh': 14}","{'layer': '350mb', 'rh': 15}","{'layer': '300mb', 'rh': 7}","{'layer': '250mb', 'rh': 7}","{'layer': '200mb', 'rh': 10}"
4,"{'layer': '950mb', 'rh': 5}","{'layer': '900mb', 'rh': 3}","{'layer': '850mb', 'rh': 2}","{'layer': '800mb', 'rh': 0}","{'layer': '750mb', 'rh': 2}","{'layer': '700mb', 'rh': 4}","{'layer': '650mb', 'rh': 6}","{'layer': '600mb', 'rh': 8}","{'layer': '550mb', 'rh': 11}","{'layer': '500mb', 'rh': 7}","{'layer': '450mb', 'rh': 14}","{'layer': '400mb', 'rh': 15}","{'layer': '350mb', 'rh': 16}","{'layer': '300mb', 'rh': 9}","{'layer': '250mb', 'rh': 7}","{'layer': '200mb', 'rh': 9}"

In [37]:
for i in range(len(rh.columns)): 
    nombre = "rh_" + str(rh[i].apply(pd.Series)["layer"][0]) 
    valores = list(rh[i].apply(pd.Series)["rh"]) 
    df_clima.insert(i, nombre, valores)

In [38]:
df_clima.head()

,rh_950mb,rh_900mb,rh_850mb,rh_800mb,rh_750mb,rh_700mb,rh_650mb,rh_600mb,rh_550mb,rh_500mb,...,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,country
0,4,2,3,3,3,0,2,5,0,-3,...,20,2,5,1017,none,0,0,170,2,usa
1,4,2,3,3,3,3,4,4,0,-2,...,23,2,5,1016,none,0,0,220,2,usa
2,3,2,2,2,2,3,3,5,7,3,...,23,-1,7,1018,none,0,0,205,2,usa
3,2,2,1,1,3,4,7,10,12,10,...,22,2,8,1018,none,0,0,180,2,usa
4,5,3,2,0,2,4,6,8,11,7,...,22,2,8,1018,none,0,0,215,2,usa

- Comprobamos que se han desempacado en todas la columnas

In [39]:
df_clima.columns

Index(['rh_950mb', 'rh_900mb', 'rh_850mb', 'rh_800mb', 'rh_750mb', 'rh_700mb',
       'rh_650mb', 'rh_600mb', 'rh_550mb', 'rh_500mb', 'rh_450mb', 'rh_400mb',
       'rh_350mb', 'rh_300mb', 'rh_250mb', 'rh_200mb', 'wind_950mb',
       'wind_900mb', 'wind_850mb', 'wind_800mb', 'wind_750mb', 'wind_700mb',
       'wind_650mb', 'wind_600mb', 'wind_550mb', 'wind_500mb', 'wind_450mb',
       'wind_400mb', 'wind_350mb', 'wind_300mb', 'wind_250mb', 'wind_200mb',
       'index', 'timepoint', 'cloudcover', 'highcloud', 'midcloud', 'lowcloud',
       'rh_profile', 'wind_profile', 'temp2m', 'lifted_index', 'rh2m',
       'msl_pressure', 'prec_type', 'prec_amount', 'snow_depth',
       'wind10m.direction', 'wind10m.speed', 'country'],
      dtype='object')

In [40]:
df_group_clima = df_clima.groupby('country').mean().reset_index()
df_group_clima.head()

,country,rh_950mb,rh_900mb,rh_850mb,rh_800mb,rh_750mb,rh_700mb,rh_650mb,rh_600mb,rh_550mb,...,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,prec_amount,snow_depth,wind10m.direction,wind10m.speed
0,australia,12.562500,10.593750,6.218750,5.484375,4.718750,3.828125,3.078125,2.859375,3.109375,...,-9999.0,-9999.0,23.234375,2.546875,9.765625,1018.234375,3.625000,0.0,159.609375,2.812500
1,new zealand,10.718750,11.546875,12.015625,11.343750,8.437500,6.250000,4.250000,3.312500,2.859375,...,-9999.0,-9999.0,12.125000,3.828125,10.296875,1003.937500,3.265625,0.0,243.125000,4.906250
2,papua new guinea,12.390625,11.875000,4.031250,1.281250,-0.921875,-0.921875,0.093750,0.203125,-0.218750,...,-9999.0,-9999.0,26.437500,0.171875,9.953125,1011.906250,1.625000,0.0,94.687500,3.140625
3,south africa,11.171875,13.031250,12.031250,6.406250,3.875000,2.437500,1.546875,1.718750,2.265625,...,-9999.0,-9999.0,19.796875,3.796875,9.187500,1018.203125,5.687500,0.0,211.875000,3.468750
4,usa,5.375000,3.468750,1.828125,1.687500,2.359375,2.875000,2.937500,3.078125,3.765625,...,-9999.0,-9999.0,22.453125,0.281250,6.093750,1015.250000,0.250000,0.0,114.531250,2.265625

In [18]:
df_union = pd.merge(df_attacks , df_group_clima , on='country', how = "inner")

In [19]:
df_union.head(6)

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,...,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,prec_amount,snow_depth,wind10m.direction,wind10m.speed
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.78373,-100.445882,...,-9999.0,-9999.0,22.453125,0.28125,6.09375,1015.25,0.25,0.0,114.53125,2.265625
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.78373,-100.445882,...,-9999.0,-9999.0,22.453125,0.28125,6.09375,1015.25,0.25,0.0,114.53125,2.265625
2,2018,Invalid,usa,48.0,Unespecific,Jun,N,M,39.78373,-100.445882,...,-9999.0,-9999.0,22.453125,0.28125,6.09375,1015.25,0.25,0.0,114.53125,2.265625
3,2018,Unprovoked,usa,52.0,Lemon shark,May,N,M,39.78373,-100.445882,...,-9999.0,-9999.0,22.453125,0.28125,6.09375,1015.25,0.25,0.0,114.53125,2.265625
4,2018,Unprovoked,usa,15.0,Lemon shark,May,N,M,39.78373,-100.445882,...,-9999.0,-9999.0,22.453125,0.28125,6.09375,1015.25,0.25,0.0,114.53125,2.265625
5,2018,Unprovoked,usa,12.0,Unespecific,May,N,M,39.78373,-100.445882,...,-9999.0,-9999.0,22.453125,0.28125,6.09375,1015.25,0.25,0.0,114.53125,2.265625

- Guardamos todo en un csv

In [20]:
df_union.to_csv('union.csv')

In [21]:
df_union.columns

Index(['year', 'type', 'country', 'age', 'species_', 'fecha_limpia', 'fatal',
       'sex', 'latitud', 'longitud', 'country2', 'fatal_N', 'fatal_Unknown',
       'fatal_Y', 'fatal_N.1', 'fatal_Unknown.1', 'fatal_Y.1', 'species_.1',
       'fecha_limpia.1', 'type.1', 'age_NORM', 'rh_950mb', 'rh_900mb',
       'rh_850mb', 'rh_800mb', 'rh_750mb', 'rh_700mb', 'rh_650mb', 'rh_600mb',
       'rh_550mb', 'rh_500mb', 'rh_450mb', 'rh_400mb', 'rh_350mb', 'rh_300mb',
       'rh_250mb', 'rh_200mb', 'wind_950mb', 'wind_900mb', 'wind_850mb',
       'wind_800mb', 'wind_750mb', 'wind_700mb', 'wind_650mb', 'wind_600mb',
       'wind_550mb', 'wind_500mb', 'wind_450mb', 'wind_400mb', 'wind_350mb',
       'wind_300mb', 'wind_250mb', 'wind_200mb', 'index', 'timepoint',
       'cloudcover', 'highcloud', 'midcloud', 'lowcloud', 'temp2m',
       'lifted_index', 'rh2m', 'msl_pressure', 'prec_amount', 'snow_depth',
       'wind10m.direction', 'wind10m.speed'],
      dtype='object')

In [41]:
df_clima.to_csv("datos_clima_limpio.csv")