In [48]:
import requests
import pandas as pd
import numpy as np
import ast

In [49]:
df_attacks = pd.read_csv("attacks_limpieza_completa.csv", index_col = 0)
df_attacks.head(2)

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,...,fatal_N,fatal_Unknown,fatal_Y,fatal_N.1,fatal_Unknown.1,fatal_Y.1,species_.1,fecha_limpia.1,type.1,age_NORM
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.78373,-100.445882,...,1,0,0,1,0,0,4,7,1,9.116327
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.78373,-100.445882,...,1,0,0,1,0,0,3,7,7,3.804860

In [50]:
df_attacks['country'].unique()

array(['usa', 'australia', 'mexico', 'brazil', 'england', 'south africa',
       'thailand', 'costa rica', 'maldives', 'bahamas', 'new caledonia',
       'ecuador', 'malaysia', 'libya', 'Unknown', 'cuba', 'mauritius',
       'new zealand', 'spain', 'samoa', 'solomon islands', 'japan',
       'egypt', 'st helena, british overseas territory', 'comoros',
       'reunion', 'french polynesia', 'united kingdom',
       'united arab emirates', 'philippines', 'indonesia', 'china',
       'columbia', 'cape verde', 'fiji', 'dominican republic',
       'cayman islands', 'aruba', 'mozambique', 'puerto rico', 'italy',
       'atlantic ocean', 'greece', 'st. martin', 'france',
       'papua new guinea', 'trinidad & tobago', 'kiribati', 'israel',
       'diego garcia', 'taiwan', 'jamaica', 'palestinian territories',
       'guam', 'seychelles', 'belize', 'nigeria', 'tonga', 'scotland',
       'canada', 'croatia', 'saudi arabia', 'chile', 'antigua', 'kenya',
       'russia', 'turks & caicos', 'united arab emirates (uae)', 'azores',
       'south korea', 'malta', 'vietnam', 'madagascar', 'panama',
       'somalia', 'nevis', 'british virgin islands', 'norway', 'senegal',
       'yemen', 'gulf of aden', 'sierra leone', 'st. maartin',
       'grand cayman', 'liberia', 'vanuatu', 'mexico ', 'venezuela',
       'sri lanka', ' tonga', 'uruguay', 'india', 'micronesia',
       'caribbean sea', 'okinawa', 'tanzania', 'marshall islands',
       'egypt / israel', 'northern arabian sea', 'hong kong',
       'el salvador', 'angola', 'bermuda', 'montenegro', 'iran',
       'tunisia', 'namibia', 'north atlantic ocean', 'portugal',
       'south china sea', 'bangladesh', 'palau', 'western samoa',
       'pacific ocean ', 'british isles', 'grenada', 'iraq', 'turkey',
       'singapore', 'new britain', 'sudan', 'johnston island',
       'south pacific ocean', 'new guinea', 'red sea',
       'north pacific ocean', 'federated states of micronesia',
       'mid atlantic ocean', 'admiralty islands', 'british west indies',
       'south atlantic ocean', 'persian gulf', 'red sea / indian ocean',
       'pacific ocean', 'north sea', 'nicaragua ', 'maldive islands',
       'american samoa', 'andaman / nicobar islandas', 'gabon', 'mayotte',
       'north atlantic ocean ', 'the balkans', 'sudan?', 'argentina',
       'martinique', 'indian ocean', 'guatemala', 'netherlands antilles',
       'northern mariana islands', 'iran / iraq', 'java', ' philippines',
       'nicaragua', 'central pacific', 'solomon islands / vanuatu',
       'southwest pacific ocean', 'bay of bengal', 'mid-pacifc ocean',
       'slovenia', 'curacao', 'iceland', 'italy / croatia', 'barbados',
       'honduras', 'monaco', 'guyana', 'haiti', 'san domingo', 'ireland',
       'kuwait', 'yemen ', 'reunion island', 'falkland islands', 'crete',
       'cyprus', 'egypt ', 'west indies', 'burma', 'lebanon', 'paraguay',
       'british new guinea', 'ceylon', 'ocean', 'georgia', 'syria',
       'tuvalu', 'indian ocean?', 'guinea', 'andaman islands',
       'equatorial guinea / cameroon', 'cook islands', 'tobago', 'peru',
       'africa', 'algeria', 'coast of africa', 'tasman sea', 'ghana',
       'greenland', 'mediterranean sea', 'sweden', 'roatan',
       'between portugal & india', 'djibouti', 'bahrein', 'korea',
       'red sea?', 'asia?', 'ceylon (sri lanka)'], dtype=object)

In [51]:
lista_paises = ['usa','australia','new zealand','south africa','papua new guinea']

In [52]:
df_paises = df_attacks[df_attacks['country'].isin(lista_paises)]
df_paises.head()

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,...,fatal_N,fatal_Unknown,fatal_Y,fatal_N.1,fatal_Unknown.1,fatal_Y.1,species_.1,fecha_limpia.1,type.1,age_NORM
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.783730,-100.445882,...,1,0,0,1,0,0,4,7,1,9.116327
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.783730,-100.445882,...,1,0,0,1,0,0,3,7,7,3.804860
2,2018,Invalid,usa,48.0,Unespecific,Jun,N,M,39.783730,-100.445882,...,1,0,0,1,0,0,3,7,3,8.403629
3,2018,Unprovoked,australia,27.0,Unespecific,Jun,N,M,-24.776109,134.755000,...,1,0,0,1,0,0,3,7,7,6.313925
5,2018,Unprovoked,australia,27.0,Unespecific,Jun,N,M,-24.776109,134.755000,...,1,0,0,1,0,0,3,7,7,6.313925

In [53]:
df_paises.shape

(4335, 21)

In [54]:
df_clima = pd.read_csv("datos_clima.csv", index_col = 0)
df_clima.head(2)

,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,country
0,3,9,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 7}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 75, 'speed': ...",22,2,6,1020,none,0,0,85,3,usa
1,6,9,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 6}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 110, 'speed':...",22,2,5,1018,none,0,0,100,3,usa

In [55]:
df_clima.reset_index(inplace=True)

In [56]:
df_clima['wind_profile']= df_clima['wind_profile'].apply(ast.literal_eval)

In [57]:
df_clima.wind_profile[0]

[{'layer': '950mb', 'direction': 75, 'speed': 2},
 {'layer': '900mb', 'direction': 140, 'speed': 3},
 {'layer': '850mb', 'direction': 175, 'speed': 3},
 {'layer': '800mb', 'direction': 205, 'speed': 3},
 {'layer': '750mb', 'direction': 220, 'speed': 3},
 {'layer': '700mb', 'direction': 265, 'speed': 3},
 {'layer': '650mb', 'direction': 280, 'speed': 5},
 {'layer': '600mb', 'direction': 275, 'speed': 5},
 {'layer': '550mb', 'direction': 275, 'speed': 5},
 {'layer': '500mb', 'direction': 250, 'speed': 4},
 {'layer': '450mb', 'direction': 250, 'speed': 4},
 {'layer': '400mb', 'direction': 255, 'speed': 5},
 {'layer': '350mb', 'direction': 250, 'speed': 5},
 {'layer': '300mb', 'direction': 240, 'speed': 5},
 {'layer': '250mb', 'direction': 245, 'speed': 4},
 {'layer': '200mb', 'direction': 255, 'speed': 5}]

In [58]:
df_clima['rh_profile']= df_clima['rh_profile'].apply(ast.literal_eval)

In [59]:
df_clima["rh_profile"][0]

[{'layer': '950mb', 'rh': 7},
 {'layer': '900mb', 'rh': 4},
 {'layer': '850mb', 'rh': 5},
 {'layer': '800mb', 'rh': 3},
 {'layer': '750mb', 'rh': 2},
 {'layer': '700mb', 'rh': -2},
 {'layer': '650mb', 'rh': -2},
 {'layer': '600mb', 'rh': -1},
 {'layer': '550mb', 'rh': -3},
 {'layer': '500mb', 'rh': -4},
 {'layer': '450mb', 'rh': -2},
 {'layer': '400mb', 'rh': 1},
 {'layer': '350mb', 'rh': 0},
 {'layer': '300mb', 'rh': 3},
 {'layer': '250mb', 'rh': 15},
 {'layer': '200mb', 'rh': 15}]

In [60]:
wind = df_clima['wind_profile'].apply(pd.Series)
wind.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,"{'layer': '950mb', 'direction': 75, 'speed': 2}","{'layer': '900mb', 'direction': 140, 'speed': 3}","{'layer': '850mb', 'direction': 175, 'speed': 3}","{'layer': '800mb', 'direction': 205, 'speed': 3}","{'layer': '750mb', 'direction': 220, 'speed': 3}","{'layer': '700mb', 'direction': 265, 'speed': 3}","{'layer': '650mb', 'direction': 280, 'speed': 5}","{'layer': '600mb', 'direction': 275, 'speed': 5}","{'layer': '550mb', 'direction': 275, 'speed': 5}","{'layer': '500mb', 'direction': 250, 'speed': 4}","{'layer': '450mb', 'direction': 250, 'speed': 4}","{'layer': '400mb', 'direction': 255, 'speed': 5}","{'layer': '350mb', 'direction': 250, 'speed': 5}","{'layer': '300mb', 'direction': 240, 'speed': 5}","{'layer': '250mb', 'direction': 245, 'speed': 4}","{'layer': '200mb', 'direction': 255, 'speed': 5}"
1,"{'layer': '950mb', 'direction': 110, 'speed': 2}","{'layer': '900mb', 'direction': 175, 'speed': 3}","{'layer': '850mb', 'direction': 195, 'speed': 3}","{'layer': '800mb', 'direction': 205, 'speed': 3}","{'layer': '750mb', 'direction': 225, 'speed': 3}","{'layer': '700mb', 'direction': 260, 'speed': 4}","{'layer': '650mb', 'direction': 270, 'speed': 5}","{'layer': '600mb', 'direction': 280, 'speed': 6}","{'layer': '550mb', 'direction': 280, 'speed': 5}","{'layer': '500mb', 'direction': 245, 'speed': 4}","{'layer': '450mb', 'direction': 245, 'speed': 5}","{'layer': '400mb', 'direction': 245, 'speed': 5}","{'layer': '350mb', 'direction': 245, 'speed': 5}","{'layer': '300mb', 'direction': 230, 'speed': 5}","{'layer': '250mb', 'direction': 230, 'speed': 4}","{'layer': '200mb', 'direction': 255, 'speed': 5}"

In [61]:
for i in range(len(wind.columns)):
    nombre = "wind_" + str(wind[i].apply(pd.Series)["layer"][0]) 
    valores = list(wind[i].apply(pd.Series)["speed"] )
    df_clima.insert(i, nombre, valores)

In [62]:
rh = df_clima['rh_profile'].apply(pd.Series) 
rh.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,"{'layer': '950mb', 'rh': 7}","{'layer': '900mb', 'rh': 4}","{'layer': '850mb', 'rh': 5}","{'layer': '800mb', 'rh': 3}","{'layer': '750mb', 'rh': 2}","{'layer': '700mb', 'rh': -2}","{'layer': '650mb', 'rh': -2}","{'layer': '600mb', 'rh': -1}","{'layer': '550mb', 'rh': -3}","{'layer': '500mb', 'rh': -4}","{'layer': '450mb', 'rh': -2}","{'layer': '400mb', 'rh': 1}","{'layer': '350mb', 'rh': 0}","{'layer': '300mb', 'rh': 3}","{'layer': '250mb', 'rh': 15}","{'layer': '200mb', 'rh': 15}"
1,"{'layer': '950mb', 'rh': 6}","{'layer': '900mb', 'rh': 4}","{'layer': '850mb', 'rh': 4}","{'layer': '800mb', 'rh': 3}","{'layer': '750mb', 'rh': 2}","{'layer': '700mb', 'rh': -1}","{'layer': '650mb', 'rh': 0}","{'layer': '600mb', 'rh': 2}","{'layer': '550mb', 'rh': -3}","{'layer': '500mb', 'rh': -4}","{'layer': '450mb', 'rh': -4}","{'layer': '400mb', 'rh': 0}","{'layer': '350mb', 'rh': 0}","{'layer': '300mb', 'rh': 3}","{'layer': '250mb', 'rh': 9}","{'layer': '200mb', 'rh': 15}"
2,"{'layer': '950mb', 'rh': 4}","{'layer': '900mb', 'rh': 2}","{'layer': '850mb', 'rh': 3}","{'layer': '800mb', 'rh': 3}","{'layer': '750mb', 'rh': 3}","{'layer': '700mb', 'rh': 0}","{'layer': '650mb', 'rh': 3}","{'layer': '600mb', 'rh': 5}","{'layer': '550mb', 'rh': -1}","{'layer': '500mb', 'rh': -3}","{'layer': '450mb', 'rh': -2}","{'layer': '400mb', 'rh': -1}","{'layer': '350mb', 'rh': 0}","{'layer': '300mb', 'rh': 2}","{'layer': '250mb', 'rh': 5}","{'layer': '200mb', 'rh': 11}"
3,"{'layer': '950mb', 'rh': 3}","{'layer': '900mb', 'rh': 2}","{'layer': '850mb', 'rh': 3}","{'layer': '800mb', 'rh': 3}","{'layer': '750mb', 'rh': 3}","{'layer': '700mb', 'rh': 3}","{'layer': '650mb', 'rh': 4}","{'layer': '600mb', 'rh': 5}","{'layer': '550mb', 'rh': 0}","{'layer': '500mb', 'rh': -2}","{'layer': '450mb', 'rh': 0}","{'layer': '400mb', 'rh': 0}","{'layer': '350mb', 'rh': 2}","{'layer': '300mb', 'rh': 2}","{'layer': '250mb', 'rh': 4}","{'layer': '200mb', 'rh': 13}"
4,"{'layer': '950mb', 'rh': 3}","{'layer': '900mb', 'rh': 2}","{'layer': '850mb', 'rh': 2}","{'layer': '800mb', 'rh': 3}","{'layer': '750mb', 'rh': 2}","{'layer': '700mb', 'rh': 3}","{'layer': '650mb', 'rh': 4}","{'layer': '600mb', 'rh': 5}","{'layer': '550mb', 'rh': 9}","{'layer': '500mb', 'rh': 1}","{'layer': '450mb', 'rh': 0}","{'layer': '400mb', 'rh': 1}","{'layer': '350mb', 'rh': 4}","{'layer': '300mb', 'rh': 1}","{'layer': '250mb', 'rh': 10}","{'layer': '200mb', 'rh': 14}"

In [63]:
for i in range(len(rh.columns)): 
    nombre = "rh_" + str(rh[i].apply(pd.Series)["layer"][0]) 
    valores = list(rh[i].apply(pd.Series)["rh"]) 
    df_clima.insert(i, nombre, valores)

In [64]:
df_clima.head()

,rh_950mb,rh_900mb,rh_850mb,rh_800mb,rh_750mb,rh_700mb,rh_650mb,rh_600mb,rh_550mb,rh_500mb,...,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,country
0,7,4,5,3,2,-2,-2,-1,-3,-4,...,22,2,6,1020,none,0,0,85,3,usa
1,6,4,4,3,2,-1,0,2,-3,-4,...,22,2,5,1018,none,0,0,100,3,usa
2,4,2,3,3,3,0,3,5,-1,-3,...,21,2,5,1017,none,0,0,160,2,usa
3,3,2,3,3,3,3,4,5,0,-2,...,23,2,5,1016,none,0,0,220,2,usa
4,3,2,2,3,2,3,4,5,9,1,...,23,2,6,1018,none,0,0,205,2,usa

- Comprobamos que se han desempacado en todas la columnas

In [65]:
df_clima.columns

Index(['rh_950mb', 'rh_900mb', 'rh_850mb', 'rh_800mb', 'rh_750mb', 'rh_700mb',
       'rh_650mb', 'rh_600mb', 'rh_550mb', 'rh_500mb', 'rh_450mb', 'rh_400mb',
       'rh_350mb', 'rh_300mb', 'rh_250mb', 'rh_200mb', 'wind_950mb',
       'wind_900mb', 'wind_850mb', 'wind_800mb', 'wind_750mb', 'wind_700mb',
       'wind_650mb', 'wind_600mb', 'wind_550mb', 'wind_500mb', 'wind_450mb',
       'wind_400mb', 'wind_350mb', 'wind_300mb', 'wind_250mb', 'wind_200mb',
       'index', 'timepoint', 'cloudcover', 'highcloud', 'midcloud', 'lowcloud',
       'rh_profile', 'wind_profile', 'temp2m', 'lifted_index', 'rh2m',
       'msl_pressure', 'prec_type', 'prec_amount', 'snow_depth',
       'wind10m.direction', 'wind10m.speed', 'country'],
      dtype='object')

In [67]:
df_group_clima = df_clima.groupby('country').mean().reset_index()
df_group_clima.head()

,country,rh_950mb,rh_900mb,rh_850mb,rh_800mb,rh_750mb,rh_700mb,rh_650mb,rh_600mb,rh_550mb,...,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,prec_amount,snow_depth,wind10m.direction,wind10m.speed
0,australia,13.531250,12.406250,11.562500,10.156250,9.156250,7.921875,6.78125,5.453125,4.937500,...,-9999.0,-9999.0,23.718750,-0.484375,11.078125,1017.843750,4.046875,0.0,154.609375,2.750000
1,new zealand,11.234375,12.109375,12.093750,11.375000,8.859375,6.656250,5.28125,4.468750,3.593750,...,-9999.0,-9999.0,12.171875,3.000000,10.734375,1005.343750,3.750000,0.0,237.578125,4.796875
2,papua new guinea,12.296875,11.796875,5.781250,0.609375,-1.375000,-1.328125,-0.40625,-0.093750,-0.296875,...,-9999.0,-9999.0,26.468750,-0.109375,10.000000,1012.046875,1.484375,0.0,96.171875,3.171875
3,south africa,12.093750,13.156250,10.968750,6.875000,3.875000,2.953125,1.62500,1.687500,2.171875,...,-9999.0,-9999.0,20.203125,2.015625,9.906250,1016.968750,6.500000,0.0,235.937500,3.437500
4,usa,4.625000,2.328125,1.359375,1.109375,1.890625,2.343750,2.50000,2.484375,3.031250,...,-9999.0,-9999.0,22.781250,1.359375,5.578125,1015.812500,0.078125,0.0,123.593750,2.281250

In [68]:
df_union = pd.merge(df_attacks , df_group_clima , on='country', how = "inner")

In [69]:
df_union

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,...,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,prec_amount,snow_depth,wind10m.direction,wind10m.speed
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.783730,-100.445882,...,-9999.0,-9999.0,22.78125,1.359375,5.578125,1015.812500,0.078125,0.0,123.593750,2.281250
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.783730,-100.445882,...,-9999.0,-9999.0,22.78125,1.359375,5.578125,1015.812500,0.078125,0.0,123.593750,2.281250
2,2018,Invalid,usa,48.0,Unespecific,Jun,N,M,39.783730,-100.445882,...,-9999.0,-9999.0,22.78125,1.359375,5.578125,1015.812500,0.078125,0.0,123.593750,2.281250
3,2018,Unprovoked,usa,52.0,Lemon shark,May,N,M,39.783730,-100.445882,...,-9999.0,-9999.0,22.78125,1.359375,5.578125,1015.812500,0.078125,0.0,123.593750,2.281250
4,2018,Unprovoked,usa,15.0,Lemon shark,May,N,M,39.783730,-100.445882,...,-9999.0,-9999.0,22.78125,1.359375,5.578125,1015.812500,0.078125,0.0,123.593750,2.281250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4330,1925,Unprovoked,papua new guinea,27.0,Unespecific,Mar,Y,M,-5.681607,144.248908,...,-9999.0,-9999.0,26.46875,-0.109375,10.000000,1012.046875,1.484375,0.0,96.171875,3.171875
4331,1908,Sea Disaster,papua new guinea,27.0,Tiger shark,Jun,Y,M,-5.681607,144.248908,...,-9999.0,-9999.0,26.46875,-0.109375,10.000000,1012.046875,1.484375,0.0,96.171875,3.171875
4332,0,Unprovoked,papua new guinea,27.0,Unespecific,Unknown,Y,M,-5.681607,144.248908,...,-9999.0,-9999.0,26.46875,-0.109375,10.000000,1012.046875,1.484375,0.0,96.171875,3.171875
4333,0,Invalid,papua new guinea,27.0,Tiger shark,Unknown,Y,M,-5.681607,144.248908,...,-9999.0,-9999.0,26.46875,-0.109375,10.000000,1012.046875,1.484375,0.0,96.171875,3.171875
4334,0,Sea Disaster,papua new guinea,27.0,Unespecific,War,N,M,-5.681607,144.248908,...,-9999.0,-9999.0,26.46875,-0.109375,10.000000,1012.046875,1.484375,0.0,96.171875,3.171875

- Guardamos todo en un csv