In [1]:
import requests
import pandas as pd
import numpy as np

- Cargamos el primer fichero de datos

In [45]:
df_attacks = pd.read_csv("attacks_limpieza_completa.csv", index_col = 0)
df_attacks.head(2)

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,...,fatal_N,fatal_Unknown,fatal_Y,fatal_N.1,fatal_Unknown.1,fatal_Y.1,species_.1,fecha_limpia.1,type.1,age_NORM
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.78373,-100.445882,...,1,0,0,1,0,0,4,7,1,9.116327
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.78373,-100.445882,...,1,0,0,1,0,0,3,7,7,3.804860

In [3]:
df_attacks['country'].unique()

array(['usa', 'australia', 'mexico', 'brazil', 'england', 'south africa',
       'thailand', 'costa rica', 'maldives', 'bahamas', 'new caledonia',
       'ecuador', 'malaysia', 'libya', 'Unknown', 'cuba', 'mauritius',
       'new zealand', 'spain', 'samoa', 'solomon islands', 'japan',
       'egypt', 'st helena, british overseas territory', 'comoros',
       'reunion', 'french polynesia', 'united kingdom',
       'united arab emirates', 'philippines', 'indonesia', 'china',
       'columbia', 'cape verde', 'fiji', 'dominican republic',
       'cayman islands', 'aruba', 'mozambique', 'puerto rico', 'italy',
       'atlantic ocean', 'greece', 'st. martin', 'france',
       'papua new guinea', 'trinidad & tobago', 'kiribati', 'israel',
       'diego garcia', 'taiwan', 'jamaica', 'palestinian territories',
       'guam', 'seychelles', 'belize', 'nigeria', 'tonga', 'scotland',
       'canada', 'croatia', 'saudi arabia', 'chile', 'antigua', 'kenya',
       'russia', 'turks & caicos', 'united arab emirates (uae)', 'azores',
       'south korea', 'malta', 'vietnam', 'madagascar', 'panama',
       'somalia', 'nevis', 'british virgin islands', 'norway', 'senegal',
       'yemen', 'gulf of aden', 'sierra leone', 'st. maartin',
       'grand cayman', 'liberia', 'vanuatu', 'mexico ', 'venezuela',
       'sri lanka', ' tonga', 'uruguay', 'india', 'micronesia',
       'caribbean sea', 'okinawa', 'tanzania', 'marshall islands',
       'egypt / israel', 'northern arabian sea', 'hong kong',
       'el salvador', 'angola', 'bermuda', 'montenegro', 'iran',
       'tunisia', 'namibia', 'north atlantic ocean', 'portugal',
       'south china sea', 'bangladesh', 'palau', 'western samoa',
       'pacific ocean ', 'british isles', 'grenada', 'iraq', 'turkey',
       'singapore', 'new britain', 'sudan', 'johnston island',
       'south pacific ocean', 'new guinea', 'red sea',
       'north pacific ocean', 'federated states of micronesia',
       'mid atlantic ocean', 'admiralty islands', 'british west indies',
       'south atlantic ocean', 'persian gulf', 'red sea / indian ocean',
       'pacific ocean', 'north sea', 'nicaragua ', 'maldive islands',
       'american samoa', 'andaman / nicobar islandas', 'gabon', 'mayotte',
       'north atlantic ocean ', 'the balkans', 'sudan?', 'argentina',
       'martinique', 'indian ocean', 'guatemala', 'netherlands antilles',
       'northern mariana islands', 'iran / iraq', 'java', ' philippines',
       'nicaragua', 'central pacific', 'solomon islands / vanuatu',
       'southwest pacific ocean', 'bay of bengal', 'mid-pacifc ocean',
       'slovenia', 'curacao', 'iceland', 'italy / croatia', 'barbados',
       'honduras', 'monaco', 'guyana', 'haiti', 'san domingo', 'ireland',
       'kuwait', 'yemen ', 'reunion island', 'falkland islands', 'crete',
       'cyprus', 'egypt ', 'west indies', 'burma', 'lebanon', 'paraguay',
       'british new guinea', 'ceylon', 'ocean', 'georgia', 'syria',
       'tuvalu', 'indian ocean?', 'guinea', 'andaman islands',
       'equatorial guinea / cameroon', 'cook islands', 'tobago', 'peru',
       'africa', 'algeria', 'coast of africa', 'tasman sea', 'ghana',
       'greenland', 'mediterranean sea', 'sweden', 'roatan',
       'between portugal & india', 'djibouti', 'bahrein', 'korea',
       'red sea?', 'asia?', 'ceylon (sri lanka)'], dtype=object)

- Del dataframe de los ataques nos quedaremos solo con las filas de los paises que seleccionamos en la lección de ayer:

In [4]:
lista_paises = ['usa','australia','new zealand','south africa','papua new guinea']

In [5]:
df_paises = df_attacks[df_attacks['country'].isin(lista_paises)]
df_paises.head()

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,...,fatal_N,fatal_Unknown,fatal_Y,fatal_N.1,fatal_Unknown.1,fatal_Y.1,species_.1,fecha_limpia.1,type.1,age_NORM
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.783730,-100.445882,...,1,0,0,1,0,0,4,7,1,9.116327
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.783730,-100.445882,...,1,0,0,1,0,0,3,7,7,3.804860
2,2018,Invalid,usa,48.0,Unespecific,Jun,N,M,39.783730,-100.445882,...,1,0,0,1,0,0,3,7,3,8.403629
3,2018,Unprovoked,australia,27.0,Unespecific,Jun,N,M,-24.776109,134.755000,...,1,0,0,1,0,0,3,7,7,6.313925
5,2018,Unprovoked,australia,27.0,Unespecific,Jun,N,M,-24.776109,134.755000,...,1,0,0,1,0,0,3,7,7,6.313925

- Cargamos el segundo fichero de datos

In [7]:
df_clima = pd.read_csv("datos_clima.csv", index_col = 0)
df_clima.head(2)

,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,pais
0,3,1,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 4}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 245, 'speed':...",22,2,5,1018,none,0,0,170,2,usa
1,6,1,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 5}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 170, 'speed':...",22,2,5,1018,none,0,0,155,2,usa

Ya tenemos todos los datos deseados, pasamos ahora a juntar los dos csv.

- Para hacer esta unión tendremos que hacer un groupby en la tabla de clima para sacar una media de las medidas climáticas por pais.

In [8]:
df_clima.dtypes

timepoint             int64
cloudcover            int64
highcloud             int64
midcloud              int64
lowcloud              int64
rh_profile           object
wind_profile         object
temp2m                int64
lifted_index          int64
rh2m                  int64
msl_pressure          int64
prec_type            object
prec_amount           int64
snow_depth            int64
wind10m.direction     int64
wind10m.speed         int64
pais                 object
dtype: object

- Para poder utilizar el groupby tenemos que hacer lo siguiente:

In [9]:
import ast

In [33]:
df_clima = df_clima.reset_index()

In [ ]:
# en Python tenemos la librería `ast` que nos permite castear un string que dentro tiene diccionarios, o listas o tuplas a su tipo correspondiente. 
# En nuestro caso, lo que conseguiremos es no tener strings sino listas en la columna. Esto lo haremos de la siguiente forma: 
df_clima['wind_profile']= df_clima['wind_profile'].apply(ast.literal_eval)

In [ ]:
df_clima['wind_profile']

0      [{'layer': '950mb', 'direction': 245, 'speed':...
1      [{'layer': '950mb', 'direction': 170, 'speed':...
2      [{'layer': '950mb', 'direction': 175, 'speed':...
3      [{'layer': '950mb', 'direction': 210, 'speed':...
4      [{'layer': '950mb', 'direction': 200, 'speed':...
                             ...
315    [{'layer': '950mb', 'direction': 100, 'speed':...
316    [{'layer': '950mb', 'direction': 95, 'speed': ...
317    [{'layer': '950mb', 'direction': 100, 'speed':...
318    [{'layer': '950mb', 'direction': 110, 'speed':...
319    [{'layer': '950mb', 'direction': 110, 'speed':...
Name: wind_profile, Length: 320, dtype: object

In [35]:
df_clima.head(2)

,index,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,pais
0,0,3,1,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 4}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 245, 'speed':...",22,2,5,1018,none,0,0,170,2,usa
1,1,6,1,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 5}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 170, 'speed':...",22,2,5,1018,none,0,0,155,2,usa

In [49]:
# una vez que tengamos la columna cambiada, una fantasía de Pandas es que si hago un apply sobre una columna cuyos valores son diccionarios o listas 
# nos va a generar una columna con los valores de los diccionarios o listas. Donde cada columna será key del diccionario o cada elemento de la lista. 
x = df_clima['wind_profile'].apply(pd.Series)
x.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,"{'layer': '950mb', 'direction': 245, 'speed': 2}","{'layer': '900mb', 'direction': 245, 'speed': 3}","{'layer': '850mb', 'direction': 235, 'speed': 3}","{'layer': '800mb', 'direction': 240, 'speed': 3}","{'layer': '750mb', 'direction': 250, 'speed': 3}","{'layer': '700mb', 'direction': 250, 'speed': 3}","{'layer': '650mb', 'direction': 255, 'speed': 3}","{'layer': '600mb', 'direction': 265, 'speed': 4}","{'layer': '550mb', 'direction': 270, 'speed': 4}","{'layer': '500mb', 'direction': 270, 'speed': 4}","{'layer': '450mb', 'direction': 280, 'speed': 5}","{'layer': '400mb', 'direction': 285, 'speed': 5}","{'layer': '350mb', 'direction': 285, 'speed': 5}","{'layer': '300mb', 'direction': 285, 'speed': 5}","{'layer': '250mb', 'direction': 285, 'speed': 5}","{'layer': '200mb', 'direction': 280, 'speed': 5}"
1,"{'layer': '950mb', 'direction': 170, 'speed': 2}","{'layer': '900mb', 'direction': 235, 'speed': 3}","{'layer': '850mb', 'direction': 255, 'speed': 3}","{'layer': '800mb', 'direction': 265, 'speed': 3}","{'layer': '750mb', 'direction': 260, 'speed': 3}","{'layer': '700mb', 'direction': 250, 'speed': 3}","{'layer': '650mb', 'direction': 255, 'speed': 3}","{'layer': '600mb', 'direction': 260, 'speed': 4}","{'layer': '550mb', 'direction': 260, 'speed': 4}","{'layer': '500mb', 'direction': 265, 'speed': 4}","{'layer': '450mb', 'direction': 285, 'speed': 5}","{'layer': '400mb', 'direction': 285, 'speed': 5}","{'layer': '350mb', 'direction': 285, 'speed': 5}","{'layer': '300mb', 'direction': 285, 'speed': 5}","{'layer': '250mb', 'direction': 290, 'speed': 5}","{'layer': '200mb', 'direction': 280, 'speed': 5}"

In [40]:
# nos creamos un dataframe nuevo con el resultado de la información de una de las columnas separadas por columnas. 
# Esto nos va a devolver un dataframe donde cada fila será una celda del dataframe anterior. 
x2 = df_clima['rh_profile'].apply(pd.Series) 
x2.head(10)

                                                   0
0  [{'layer': '950mb', 'rh': 4}, {'layer': '900mb...
1  [{'layer': '950mb', 'rh': 5}, {'layer': '900mb...
2  [{'layer': '950mb', 'rh': 7}, {'layer': '900mb...
3  [{'layer': '950mb', 'rh': 6}, {'layer': '900mb...
4  [{'layer': '950mb', 'rh': 4}, {'layer': '900mb...
5  [{'layer': '950mb', 'rh': 3}, {'layer': '900mb...
6  [{'layer': '950mb', 'rh': 3}, {'layer': '900mb...
7  [{'layer': '950mb', 'rh': 3}, {'layer': '900mb...
8  [{'layer': '950mb', 'rh': 8}, {'layer': '900mb...
9  [{'layer': '950mb', 'rh': 7}, {'layer': '900mb...

In [20]:
# ¿Qué es lo que ocurre cuando hacemos esto?
# Nos ha creado tantas columnas como valores tuvieramos en la lista. Donde columna es, en este caso, un diccionario (porque nuestra lista esta compuesta por distintos diccionarios)

In [50]:
# Ok, hemos conseguido desempaquetar la información de la lista en distintas columnas. 
# Ahora tenemos que despempaquetar la información de los diccionarios en distintas columnas. 
# En este caso, lo que querremos es que las key de los diccionarios sean los nombres de las columnas y los values los valores de las celdas del dataframe. 
# Volveremos a seguir entonces la misma lógica que antes con el apply, pero en este caso necesitamos hacerlo para todo el dataframe (que es x): 

# Por eso empezamos con un for para iterar por cada una de las columnas. 
for i in range(len(x.columns)): 

    # aplicamos el apply,extraemos el valor de la key "layer" y lo almacenamos en una variable que convertimos a string 
    nombre = "rh_" + str(x[i].apply(pd.Series)["layer"](0)) 

    # hacemos lo mismo con una variable que se llame valores para "guardar" los valores de la celda
    valores = list(x2[i].apply(pd.Series)["rh"] )

    # usamos el método insert de los dataframes para ir añadiendo esta información a el dataframe con la información del clima. 
    df_clima.insert(i, nombre, valores)
    # una vez que hayamos hecho esto para las dos columnas ya podremos hacer el gropuby para después unir toda la información.

TypeError: 'Series' object is not callable

In [46]:
df_clima.head(2)

,index,timepoint,cloudcover,highcloud,midcloud,lowcloud,rh_profile,wind_profile,temp2m,lifted_index,rh2m,msl_pressure,prec_type,prec_amount,snow_depth,wind10m.direction,wind10m.speed,pais
0,0,3,1,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 4}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 245, 'speed':...",22,2,5,1018,none,0,0,170,2,usa
1,1,6,1,-9999,-9999,-9999,"[{'layer': '950mb', 'rh': 5}, {'layer': '900mb...","[{'layer': '950mb', 'direction': 170, 'speed':...",22,2,5,1018,none,0,0,155,2,usa

- Ya podemos hacer el groupby en la tabla de clima para sacar una media de las medidas climáticas por pais.

In [47]:
df_media = df_clima.groupby("country")(["temp2m"].mean)

KeyError: 'country'

- Guarda los resultados en un csv

In [ ]:
# df_media.to_csv("media_clima.csv")